.dropdown-hover {
   float: right;
    text-align: right;
    position: relative;
    display: inline-block;
  }
  
  .dropdown-list {
    display: none;
    position: relative;
    background-color: #c94c4c;
    width: -120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown-hover:hover .dropdown-list {
    display: block;
  }
  .space{
      width: 10px;
  }

  .horizontal{
      display: flex;
      flex-direction: row;
  }

  .vertical{
    display: flex;
    flex-direction: column;
  }

  span{
      display: inline;
  }