body{
    background-color: #ddd;
    color: #444;
    font-family: sans-serif;
}

h1 h2 h3 {
text-align: center;
}

.bureau {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rapport_actvite {
    text-align: center;
    width: 40%;
    border: #444, 1px;
    border-radius: 25px;
}

.rapport_ouvert {
    display: none;
}



li{
    list-style: none;
    background-color: green;
}